  body {
    font-family: sans-serif;
    padding: 10px;
  }

  header h1 {
    margin-top: 3px;
    margin-top: 0;
  }

  header hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .biography {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    line-height: 1.6;
  }

  .summary {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    height: 90px;
    margin-top: 15px;
  }

  .summary-table {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 1px;
    font-size: 12px;
  }

  .summary-table thead th {
    background-color: #B0C4DE;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
  }

  .summary-table tbody tr:first-child {
    text-align: center;
  }

  .summary-table tbody th {
    text-align: left;
  }

  .summary-table tbody tr td {
    padding-left: 15px;
  }

  .summary-table tbody tr {
    margin: 15px;
  }

  .table {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    display: inline-block;
    font-size: 12px;
    padding-bottom: 10px;
    padding-left:0px;
  }

  .table h3 {
    text-align: center;
  }

  ol.order li {
    display: block;
    float: left;
    width: 10px;
  }

  ol.order li span {
    display: block;
    float: left;
    width: 20px;
  }

  ol.order li {
    clear:both;
    width: 150px;
  }
